body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(245, 245, 220, 0.9)), 
                url('https://th.bing.com/th/id/R.168b955b086486fe83bf45ed743105c4?rik=C5w4VqnYJmBbEw&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f8%2fLines-PNG-Background.png&ehk=z9r1a6FOmKmVmxIOKwGtPRdUXSwjQGtY%2b3QYmMRPc6U%3d&risl=&pid=ImgRaw&r=0') 
                no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
}
.hidden {
    display: none;
}
h1 {
    color: #2e8b57;
    margin-bottom: 20px;
}
p {
    color: #555555;
    margin: 10px 0 20px;
}
button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #4682b4;
}
.progress-container {
    margin-top: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 30px;
    width: 100%;
}
.progress-bar {
    height: 100%;
    width: 0;
    background-color: #1e90ff;
    transition: width 0.2s;
}
.logo {
    margin-top: -10px;
    margin-bottom: 20px;
}
.logo img {
    width: 100px;
}
